.page-title__height {
    padding-top: 150px;
    padding-bottom: 150px;
    background-size: cover !important;
    background-color: rgba(var(--#{$prefix}primary-rgb), 1);
    background-image: var(--#{$prefix}gradient)
}
[data-ui-theme=dark] .page-title__height {
    background-color: rgba(var(--#{$prefix}primary-rgb), 0.60);
}

.page__title h3 {
    font-size: 60px;
    color: var(--#{$prefix}white);
    margin-bottom: 15px
}

.page__title .breadcrumb-item a {
    color: var(--#{$prefix}white)
}

.page__title .breadcrumb-item.active {
    color: var(--#{$prefix}white)
}
  
.page__title .breadcrumb-item+.breadcrumb-item::before {
    color: var(--#{$prefix}light);
    font-family: "FontAwesome";
    content: '\f111';
    font-size: 6px;
    line-height: 3;
}


// ---------------------------
//  page-title__shape 
// ---------------------------

.page-title__shape img {
    position: absolute
}
  
.page-title__shape img.page-title__dot {
    left: 32%;
    bottom: 10%
}
  
.page-title__shape img.page-title__dot-2 {
    right: 19%;
    top: 20%
}
  
.page-title__shape img.page-title__dot-4 {
    left: 0;
    top: 21%
}
  
.page-title__shape img.page-title__dot-3 {
    right: 9%;
    top: 6%
}
  
.page-title__shape img.page-title__plus {
    right: 0;
    bottom: -17%
}




.page-title__shape img.page-title__triangle {
    left: 19%;
    top: 32%;
    @include animation(page_triangle, 5s, linear, infinite);
}
  
.page-title__shape img.page-title__circle {
    right: 30%;
    top: 50%;
    @include animation(page_circle, 5s, linear 0s, infinite alternate);
    z-index: 3;
}

@keyframes page_triangle {
    0% {
      @include transform(rotate(0deg));
    }
  
    100% {
      @include transform(rotate(360deg));
    }
}

@keyframes page_circle {
    0% {
        @include transform(translateY(0));
    }

    100% {
        @include transform(translateY(50px));
    }
}




.circle__animation {
    bottom: 0;
    left: 0;
    border: 1px solid #E8ECF2;
    width: 300px;
    height: 300px;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    @include transform(translate(-50%, 50%));
}
  
.circle__animation span.shape__circle-1 {
    display: block;
    position: absolute;
    content: "";
    top: calc(50% - 1px);
    left: 50%;
    width: 50%;
    height: 1px;
    background: transparent;
    transform-origin: left;
    @include animation(circle_animation, 13s, linear, infinite);
}

.circle__animation span.shape__circle-2 {
    display: block;
    position: absolute;
    content: "";
    top: calc(50% - 1px);
    left: 50%;
    width: 50%;
    height: 1px;
    background: transparent;

    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    transform-origin: left;

    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    transform: scale(-1, 1);

    @include animation(circle_animation2, 10s, linear, infinite);
}

.circle__animation span.shape__circle-1::before {
    background-color: var(--#{$prefix}yellow);
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: -25px;
    right: -12px
}

.circle__animation span.shape__circle-2::after {
    background-color: none;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid var(--#{$prefix}white);
    bottom: -25px;
    right: -8px;
    @include transform(rotate(9deg));
}

@keyframes circle_animation {
    0% {
      @include transform(rotate(0deg));
    }
  
    100% {
      @include transform(rotate(360deg));
    }
}

@keyframes circle_animation2 {
    0% {
      @include transform(scale(-1, 1) rotate(360deg));
    }
  
    100% {
      @include transform(scale(-1, 1) rotate(0deg));
    }
}


// ---------------------------
//  page-title__shape  End
// ---------------------------

.single__blog{
    row-gap: 2rem;
}

.single__blog-items {
    background: var(--#{$prefix}body-bg);
    padding: 10px;
    border: 1px solid var(--#{$prefix}gray-200);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}


.thumbnails {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
    @include user_select(none);
}


.thumbnails img {
    width: 100%;
    height: auto;
    @include user_select(none);
    @include transition(all, 0.3s);
}


.thumbnails:hover .thumbnails_box,
.thumbnails:hover img {
  @include transform(scale(1.1));
}


.thumbnails_box{
    width: 100%;
    height: 280px;
    background: var(--#{$prefix}secondary);
    position: relative;
    @include transition(all, 0.3s);
}


.thumbnails_text{
    @include user_select(none);
    
    background: linear-gradient(81.84deg, #0099ff -9.4%, #a033ff 51.57%, #ff5280 84.07%, #ff7061 90.59%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

    color: transparent;
    display: inline-block;
    font-family: var(--#{$prefix}font-family-sans-serif);
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}



.blog__title {
    font-family: var(--#{$prefix}font-family-sans-serif);
}

.blog__text{
    font-family: var(--#{$prefix}font-family-sans-serif);

    *:not(i){
        font-family: inherit;
    }
    
    .article h6 {
        margin-bottom: 0;
        &::before {
            font-family: "FontAwesome";
            content: "\f054";
            margin-right: 8px
        }
    }
}

.metabox__date {
    @include user_select(none);

    position: absolute;
    top: 30px;
    left: 30px;
    background: var(--#{$prefix}body-bg);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    padding: 8px 16px;
    z-index: 1;
    text-align: center
}

.metabox__date h5 {
    font-size: 30px;
    margin-bottom: 0;
    line-height: 1;
    color: rgba(var(--#{$prefix}primary-rgb), 1);
    font-weight: 500;
    font-family: var(--#{$prefix}body-font-family);
}


// single-blog-page
.code-toolbar {
    position: relative;
}

.toolbar {
    position: absolute;
    top: 4px;
    right: 5px;
}

.copy-to-clipboard-button {
    background: var(--#{$prefix}body-bg);
    color: var(--#{$prefix}body-color);
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 1.5rem;

    &[data-copy-state=copy-success]{
        color: var(--#{$prefix}primary) !important;

        i::before{
            content: "\f00c" !important;
        }
    }
}


.language-php .token.variable {
    color: #ff4988;
}

.language-php .token.string {
    color: #8BC34A;
}

.language-php .token.function {
    color: #00BCD4;
}
