/*----------------------------------------*/
/*  02. Header CSS
/*----------------------------------------*/

.navbar-brand {
    font-family: #{$font-family-heading};
    text-shadow: 1.5px 0 0 var(--#{$prefix}heading-color);
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--#{$prefix}heading-color);
    padding: 0;
    user-select: none;
    position: relative;
    &::after {
        content: '';
        width: 7px;
        height: 7px;
        background: rgba(var(--#{$prefix}primary-rgb), 10);
        border-radius: 10px;
        right: -10px;
        bottom: 11px;
        position: absolute;
    }
    &:hover {
        color: var(--#{$prefix}heading-color);
    }
}

.header__area {

    .top__header p {
        font-weight: 400;
        margin-bottom: 0;
    }
    
    .top__header-link {
        li a {
            display: flex;
            align-items: center;
            column-gap: 5px;
            color: var(--#{$prefix}body-color);
            &:hover{
                color: var(--#{$prefix}primary);
                p{
                    color: inherit;
                }
            }
            
        }
    }

    ul.nav_menus {
        li {
            display: inline-block;
            position: relative;
            &:not(:last-child) {
                margin-right: 35px;
            }
            &.active a {
                color: rgba(var(--#{$prefix}primary-rgb), 1) !important
            }
            a {
                color: var(--#{$prefix}heading-color);
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                text-transform: capitalize;
                display: block;
                position: relative;
                @include transition(all, 0.2s);
                &:hover {
                    color: rgba(var(--#{$prefix}primary-rgb), 1) !important
                }
                &::after {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: -8px;
                    width: 100%;
                    height: 2px;
                    background: rgba(var(--#{$prefix}primary-rgb), 1);
                    opacity: 0;
                    visibility: hidden;
                    @include transition(all, 0.2s);
                }
            }
        }
        &>.home.active a::after, 
        &>.active a::after, 
        & li a:hover::after {
            bottom: 0;
            visibility: visible;
            opacity: 1;
        }
    }

    .sidebar__toggler-btn {
        color: var(--#{$prefix}primary);
        background: var(--#{$prefix}body-bg);
        width: 40px;
        height: 40px;
        font-size: 1rem;
        border-radius: 10rem;
        box-shadow: 0 4px 10px -5px rgba(var(--#{$prefix}primary-rgb), 10);
    }
}


// Mobile sidebar
.sidebar__area {
    background: var(--#{$prefix}body-bg);
    width: 300px; //18.75rem
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: -340px;
    box-shadow: -5px 0 20px -5px rgb(black, 0.5);
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 9999999;

    &.sidebar-opened {
        right: 0px;
    }

    .sidebar__close-btn {
        font-size: 2rem;
        background: transparent;
        color: var(--#{$prefix}body-color);
    }

    .sidebar__wrapper{
        padding: 25px;
    }

    .sidebar__theme-switch {
        border: 1px solid var(--#{$prefix}gray-200);
        border-radius: var(--#{$prefix}border-radius);
        padding: 10px;

        h3 {
            font-size: var(--barakaUI-body-font-size);
        }
    }

    .theme__switch {
        color: var(--#{$prefix}white);
        background-color: var(--#{$prefix}black);
        height: 40px;
        width: 100px;
        border-radius: var(--#{$prefix}border-radius);
        cursor: pointer;
        font-size: 1.2rem;
        margin-top: 4px;
    }


    // mobile-menu
    .mobile-menu{
        background-color: var(--#{$prefix}gray-200);
        padding: 8px;
        border-radius: var(--#{$prefix}border-radius);

        li{
            a{
                color: var(--#{$prefix}heading-color);
                background: var(--#{$prefix}body-bg);
                padding: 8px  15px;
                display: block;
                font-weight: 500;
                letter-spacing: 0.50px;
                text-transform: uppercase;
                @include transition(all, 0.3s);

                &:hover{
                    color: var(--#{$prefix}white);
                    background: var(--#{$prefix}primary);
                }
            }
            &:not(:last-child) a{margin-bottom: 1px;}

            &:first-child a{
                border-top-left-radius: var(--#{$prefix}border-radius);
                border-top-right-radius: var(--#{$prefix}border-radius);
            }
            &:last-child a{
                border-bottom-left-radius: var(--#{$prefix}border-radius);
                border-bottom-right-radius: var(--#{$prefix}border-radius);
            }
            &.active a{
                color: var(--#{$prefix}white);
                background: var(--#{$prefix}primary);
            }
        }
    }


}
[data-ui-theme=dark] .sidebar__area{
    .theme__switch {
        color: var(--#{$prefix}black);
        background-color: var(--#{$prefix}white);
    }
}

.sticky {
    left: 0;
    margin: auto;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 99;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: inset 0 -3px 1px -2px rgba(255, 255, 255, 0.9), 0 10px 15px rgba(25, 25, 25, 0.1);
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    box-shadow: inset 0 -3px 1px -2px rgba(255, 255, 255, 0.9), 0 10px 15px rgba(25, 25, 25, 0.1);
    background: var(--#{$prefix}white) !important;
}


.theme-settings div > button{
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 4px;
    margin-bottom: 3px;
    color: white;
    background-color: var(--transparent, transparent);
    box-shadow: 0px 4px 6px 0px rgba(black, .10), 0px 2px 4px 0px rgba(black, .06);
}


// .theme-color-input input {
//     display: inline-block;
//     width: 100%;
//     height: 40px;
//     border: none;
//     box-shadow: none;
//     outline: none;
// }



/* scrollbar */
#scrollbar::-moz-scrollbar-track,
#scrollbar::-webkit-scrollbar-track 
{
    background-color: #ddd !important;
    border-radius: 10px !important;
}

#scrollbar::-moz-scrollbar,
#scrollbar::-webkit-scrollbar
{
    width: 5px !important;
}

#scrollbar::-moz-scrollbar-thumb,
#scrollbar::-webkit-scrollbar-thumb
{
    background-color: #a2adb7 !important;
    border-radius: 10px !important;
}

