/*----------------------------------------*/
/*  03. Hero CSS
/*----------------------------------------*/

.hero__area {
    background: linear-gradient(330deg, rgba(231, 249, 253, 1), transparent);
    width: 100%;
    height: 800px;
    z-index: 0;

    .btn{
        background-color: var(--#{$prefix}heading-color);
        &:hover{
            background-color: var(--#{$prefix}primary);
        }
    }

    .conic__gradients {
        width: 400px;
        height: 400px;
        opacity: 0.6;
        z-index: -1;
        filter: blur(50px);
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -37%);
    }

    .hero__img{
        width: 21rem;
    }
}

[data-ui-theme=dark] .hero__area {
    background: linear-gradient(330deg, rgba(231, 249, 253, 0.1), transparent);;
    .conic__gradients {
        filter: none;
        width: 350px;
        height: 350px;
        transform: translate(-50%, -36%);
        opacity: 0.8;
    }
}

.hero__content h2 {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 10px;
}

$type-auto-color: var(--#{$prefix}heading-color);
.auto_type{
    font-weight: 800;
    font-size: 4rem;
    text-wrap: nowrap;
    color: transparent;
    text-transform: uppercase;
    // -webkit-text-stroke: 1px $type-auto-color;
    position: relative;
    @include user_select(none);
    &::before{
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        color: $type-auto-color;
        -webkit-text-stroke: 0px var(--#{$prefix}heading-color);
        border-right: 2px solid $type-auto-color;
        overflow: hidden;
        @include animation(txt_animate, 6s, linear, infinite);
    }
}

@keyframes txt_animate {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

.social__media {
    display: flex;
    align-items: center;
    column-gap: 4px;
    li a {
        color: var(--#{$prefix}heading-color);
        background-color: transparent;
        width: 40px;
        height: 40px;
        display: inline-block;
        text-align: center;
        line-height: 2.8;
        border: 2px solid transparent;
        border-radius: 30rem;
        @include transition(all, 0.3s);
        &:hover{
            color: var(--#{$prefix}white);
            background-color: var(--#{$prefix}heading-color);
            border-color: var(--#{$prefix}primary);            
        }
    }
}
[data-ui-theme=dark] .social__media li a:hover{
    color: var(--#{$prefix}primary);
    background-color: transparent;
}

.conic__gradients{
    background: conic-gradient(darkorange, gold, deeppink, blueviolet, turquoise, darkorange);
}

.page-title__shape {
    img{
        position: absolute;
    }
    .page-title__circle {
        right: 30%;
        top: 50%;
        z-index: 3;
        @include animation(page_circle, 5s, linear 0s, infinite alternate);
    }
    .page-title__dot-4 {
        left: 0;
        top: 21%;
    }
    .page-title__dot {
        left: 32%;
        bottom: 10%;
    }
}

@keyframes page_circle {
    0% {
      @include transform(translateY(0));
    }
  
    100% {
      @include transform(translateY(50px));
    }
}



.experience__circle {
    --size: 180px;
    width: var(--size);
    height: var(--size);
    display: block;
    backdrop-filter: blur(15px);
    background: #ffffff12;
    border-radius: 100%;
    border: 1px solid #ffffff30;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%, 50%);
    // @include user_select(none);
 
    .circle_text{
        position: absolute;
        width: 100%;
        height: 100%;
        animation: rotateText 10s linear infinite;

        span{
            position: absolute;
            left: 50%;
            font-size: 1.2em;
            font-weight: 500;
            transform-origin: 0 90px;
            color: var(--#{$prefix}white);
            text-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
        }
    }
    
    h3{
        color: var(--#{$prefix}white);
        text-align: center;
        line-height: 8;
        font-size: 1.3rem;
        font-weight: 700;
        text-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
    }
}

@keyframes rotateText {
    0%{transform: rotate(360deg);}
    100%{transform: rotate(0deg);}
}