// Configuration
@import "variables";


// Padding Function --------------->
// ---------------------------------

/* padding-top */
@each $size, $value in $values-sizes {
    .pt-#{$size} {
        padding-top: #{$value}px;
    }
}
/* padding-right */
@each $size, $value in $values-sizes {
    .pr-#{$size} {
        padding-right: #{$value}px;
    }
}
/* padding-bottom */
@each $size, $value in $values-sizes {
    .pb-#{$size} {
        padding-bottom: #{$value}px;
    }
}
/* padding-left */
@each $size, $value in $values-sizes {
    .pl-#{$size} {
        padding-left: #{$value}px;
    }
}

// Margin Function ---------------->
// ---------------------------------
/* margin-top */
@each $size, $value in $values-sizes {
    .mt-#{$size} {
        margin-top: #{$value}px;
    }
}
/* margin-right */
@each $size, $value in $values-sizes {
    .mr-#{$size} {
        margin-right: #{$value}px;
    }
}
/* margin-bottom */
@each $size, $value in $values-sizes {
    .mb-#{$size} {
        margin-bottom: #{$value}px;
    }
}
/* margin-left */
@each $size, $value in $values-sizes {
    .ml-#{$size} {
        margin-left: #{$value}px;
    }
}


.gap-0 {gap: 0;}
.gap-1 {gap: 0.25rem;}
.gap-2 {gap: 0.5rem;}
.gap-3 {gap: 1rem;}
.gap-4 {gap: 1.5rem;}
.gap-5 {gap: 3rem;}

.row-gap-0 {row-gap: 0;}
.row-gap-1 {row-gap: 0.25rem;}
.row-gap-2 {row-gap: 0.5rem;}
.row-gap-3 {row-gap: 1rem;}
.row-gap-4 {row-gap: 1.5rem;}
.row-gap-5 {row-gap: 3rem;}

.column-gap-0 {-moz-column-gap: 0;       column-gap: 0;}
.column-gap-1 {-moz-column-gap: 0.25rem; column-gap: 0.25rem;}
.column-gap-2 {-moz-column-gap: 0.5rem;  column-gap: 0.5rem;}
.column-gap-3 {-moz-column-gap: 1rem;    column-gap: 1rem;}
.column-gap-4 {-moz-column-gap: 1.5rem;  column-gap: 1.5rem;}
.column-gap-5 {-moz-column-gap: 3rem;    column-gap: 3rem;}
