// mixin scss

@mixin animation($name, $seconds, $style, $loop) {
    -webkit-animation: $name $seconds $style $loop;
    -moz-animation: $name $seconds $style $loop;
    -o-animation: $name $seconds $style $loop;
    animation: $name $seconds $style $loop;
}
// @include animation($name, $seconds, $style, $loop);

@mixin transition($name, $seconds) {
    -webkit-transition: $name $seconds ease-in-out;
    -moz-transition: $name $seconds ease-in-out;
    -ms-transition: $name $seconds ease-in-out;
    -o-transition: $name $seconds ease-in-out;
    transition: $name $seconds ease-in-out
}
// @include transition($name, $seconds);

@mixin user_select($selectName) {
    -webkit-user-select: $selectName;
    -webkit-user-drag: $selectName;
    -moz-user-select: $selectName;
    -ms-touch-action: $selectName;
    user-select: $selectName;
}
// @include user_select(none);

@mixin transform($name) {
    -webkit-transform: $name;
    -moz-transform: $name;
    -ms-transform: $name;
    -o-transform: $name;
    transform: $name;
}
// @include transform(translateY(0));
