@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Rufina:wght@400;700&display=swap");

:root,
[data-ui-theme=light]{
    
    // HEX Color
    --#{$prefix}blue:    #{$blue};
    --#{$prefix}indigo:  #{$indigo};
    --#{$prefix}purple:  #{$purple};
    --#{$prefix}pink:    #{$pink};
    --#{$prefix}red:     #{$red};
    --#{$prefix}orange:  #{$orange};
    --#{$prefix}yellow:  #{$yellow};
    --#{$prefix}green:   #{$green};
    --#{$prefix}teal:    #{$teal};
    --#{$prefix}cyan:    #{$cyan};

    --#{$prefix}white:      #{$white};
    --#{$prefix}light:      #{$gray-100};
    --#{$prefix}gray-100:   #{$gray-100};
    --#{$prefix}gray-200:   #{$gray-200};
    --#{$prefix}gray-300:   #{$gray-300};
    --#{$prefix}gray-400:   #{$gray-400};
    --#{$prefix}gray-500:   #{$gray-500};
    --#{$prefix}gray-600:   #{$gray-600};
    --#{$prefix}gray-700:   #{$gray-700};
    --#{$prefix}gray-800:   #{$gray-800};
    --#{$prefix}gray-900:   #{$gray-900};
    --#{$prefix}black:      #{$black};
    --#{$prefix}gray:       #{$gray-600};
    --#{$prefix}gray-dark:  #{$gray-800};

    --#{$prefix}gradient:       #{$gradient};
    
    --#{$prefix}primary:        #{$ui-primary};
    --#{$prefix}secondary:      #{$ui-secondary};
    --#{$prefix}heading-color:  #{$ui-heading-color};


    // RGBA Color
    --#{$prefix}white-rgb:             #{to-rgb($white)};
    --#{$prefix}black-rgb:             #{to-rgb($black)};
    --#{$prefix}gray-rgb:              #{to-rgb($gray)};
    --#{$prefix}gray-dark-rgb:         #{to-rgb($gray-800)};

    --#{$prefix}primary-rgb:           #{to-rgb($ui-primary)};
    --#{$prefix}secondary-rgb:         #{to-rgb($ui-secondary)};
    --#{$prefix}heading-color-rgb:     #{to-rgb($ui-heading-color)};
    
    
    // body-color & body-font
    --#{$prefix}body-color:             #{$body-color};
    --#{$prefix}body-bg:                #{$body-bg};
    --#{$prefix}body-font-size:         #{$font-size-sm};
    --#{$prefix}body-font-family:       #{$font-family-base};
    --#{$prefix}font-family-monospace:  #{$font-family-monospace};
    --#{$prefix}font-family-sans-serif: #{$font-family-sans-serif};


    --#{$prefix}border-radius: 0.375rem;
    --#{$prefix}border-radius-sm: 0.25rem;
    --#{$prefix}border-radius-lg: 0.5rem;
    --#{$prefix}border-radius-xl: 1rem;
    --#{$prefix}border-radius-xxl: 2rem;
}

[data-ui-theme=dark]{

    --#{$prefix}gray-200:          var(--#{$prefix}gray-800);

    --#{$prefix}secondary:         var(--#{$prefix}gray-800);
    --#{$prefix}heading-color:     var(--#{$prefix}body-color);

    --#{$prefix}body-color:        var(--#{$prefix}gray-500);
    --#{$prefix}body-bg:           var(--#{$prefix}gray-900);

}


/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: var(--#{$prefix}body-font-family);
    font-size: var(--#{$prefix}body-font-size);
    font-weight: normal;
    line-height: initial;
    color: var(--#{$prefix}body-color);
    background-color: var(--#{$prefix}body-bg);
}


main {
    display: block;
}

hr {
    box-sizing: content-box;
    height: 0; 
    overflow: visible;
}

b,
strong {
  font-weight: bolder;
}

ol, ul { 
    margin: 0;
    padding: 0 
}

li { list-style: none }

// Reset margins on paragraphs
p{
    font-family: var(--#{$prefix}body-font-family);
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    color: var(--#{$prefix}body-color);
    margin-bottom: 14px;
}


// Images
img{
    vertical-align: middle;
    border-style: none; //IE 10.
    @include transition(all, 0.2s);
}


// Links
a {
    color: var(--#{$prefix}body-color);
    text-decoration: none;
    &:hover{
        color: var(--#{$prefix}primary);
    }
}

a, button {
    color: inherit;
    outline: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

%ckps{
    font-family: var(--#{$prefix}font-family-monospace);
    font-size: 1em;
}

samp{@extend %ckps;}

pre {
    @extend %ckps;
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: .875em;
}

kbd {
    @extend %ckps;
    padding: .1875rem .375rem;
    font-size: .875em;
    color: var(--#{$prefix}body-bg);
    background-color: var(--#{$prefix}body-color);
    border-radius: .25rem;
}

code {
    @extend %ckps;
    font-size: .875em;
    color: var(--#{$prefix}pink);
    word-wrap: break-word;
}

::-moz-selection {
    color: var(--#{$prefix}white);
    background: var(--#{$prefix}primary);
    text-shadow: none;
}

::selection {
    color: var(--#{$prefix}white);
    background: var(--#{$prefix}primary);
    text-shadow: none;
}


.img-fluid{
    height: auto;
    max-width: 100%;
}


// heading
%heading{
  font-family: #{$font-family-heading};
  color: var(--#{$prefix}heading-color);
  font-weight: 700;
  line-height: 1.2;
  @include transition(color, 0.2s);
}

h1{@extend %heading; font-size: 40px}
h2{@extend %heading; font-size: 36px}
h3{@extend %heading; font-size: 24px}
h4{@extend %heading; font-size: 20px}
h5{@extend %heading; font-size: 16px}
h6{@extend %heading; font-size: 14px}



// Background Color
.bg__white     {background: #ffffff}
.bg__light     {background: #f6f5ff}
.bg__gray      {background: var(--#{$prefix}gray)}
.bg__black     {background: #000}
.bg__primary   {background: var(--#{$prefix}primary)}
.bg__secondary {background: var(--#{$prefix}secondary);}

[data-ui-theme=dark] .bg__light {background: var(--#{$prefix}gray-800)}

// Color 
.color__white   {color: #ffffff}
.color__light   {color: #f6f5ff}
.color__gray    {color: var(--#{$prefix}gray)}
.color__black   {color: #000}
.color__primary {color: var(--#{$prefix}primary)}



// black overlay
[data-overlay] {position: relative;}
[data-overlay]::before {
	background: #000 none repeat scroll 0 0;
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
[data-overlay="3"]::before {opacity: 0.3}
[data-overlay="4"]::before {opacity: 0.4}
[data-overlay="5"]::before {opacity: 0.5}
[data-overlay="6"]::before {opacity: 0.6}
[data-overlay="7"]::before {opacity: 0.7}
[data-overlay="8"]::before {opacity: 0.8}
[data-overlay="9"]::before {opacity: 0.9}


.btn{
    display: inline-block;
    padding: 10px 15px;
    font-family: var(--#{$prefix}body-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: var(--#{$prefix}body-color);
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: var(--#{$prefix}border-radius-lg);
    background: transparent;
    box-shadow: none;
    outline: 0;
    @include transition(all, 0.3s);
    @include user_select(none);

    &:active{
        color: var(--#{$prefix}white);
        background-color: var(--#{$prefix}primary);
    }

    &:focus-visible {
        color: var(--#{$prefix}white);
        background-color: var(--#{$prefix}primary);
        box-shadow: 0 0 0 0.25rem rgba(var(--#{$prefix}primary-rgb), 0.4);
    }
}


.btn-primary {
    color: var(--#{$prefix}white);
    background: rgba(var(--#{$prefix}primary-rgb), 0.9);
    &:hover{
        color: var(--#{$prefix}white);
        background: var(--#{$prefix}primary);
    }
}


.btn-secondary {
    border-color: var(--#{$prefix}gray-200);
    &:hover{
        color: var(--#{$prefix}primary);
    }

    &:active{
        color: var(--#{$prefix}primary);
        background-color: transparent;
        border-color: var(--#{$prefix}primary);
    }

    &:focus-visible {
        color: var(--#{$prefix}primary);
        background-color: transparent;
        border-color: var(--#{$prefix}primary);
    }
}


.button{

    display: inline-flex;
    padding: 12px 43px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    color: #ffffff;

    border-radius: 8px;
    // background: var(--gradients-blue, linear-gradient(180deg, #6989FE 0%, #3C64F4 100%));
    background: linear-gradient(180deg, rgba(var(--#{$prefix}primary-rgb), .7) 0%, var(--#{$prefix}primary) 100%);
}


// filter blur
%blur{
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px);
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.blur                   {@extend %blur;}
.main__menu-bar.sticky  {@extend %blur;}


// filter blur dark
[data-ui-theme=dark] .blur,
[data-ui-theme=dark] .main__menu-bar.sticky
{
    background-color: rgba(255, 255, 255, 0.20) !important;
    box-shadow: 0 0px 6px -2px var(--#{$prefix}black);
}


// scrollUp
#scrollUp{
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    color: var(--#{$prefix}gray);
    &:hover {
        color: var(--#{$prefix}primary);
    }
}


// Section Title
.section__title {
    span {
        color: rgba(var(--#{$prefix}primary-rgb), 1);
        background: rgba(var(--#{$prefix}primary-rgb), 0.1);
        padding: 0 8px;
        border-radius: 50px;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 25px;
    }

    h2 {
        font-size: 48px;
        margin-bottom: 30px;
    }
}


.d-none,
[hidden] {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.overflow-hidden{overflow: hidden}
.text-center{text-align: center}

.position-relative{position: relative}
.position-absolute{position: absolute}

.list-style-unset li{list-style: unset;}
.list-style-disc li{list-style: disc;}
.list-style-square li{list-style: square;}
.list-style-decimal li{list-style: decimal;}
.list-style-bengali li{list-style: bengali;}

// ============= breadcrumb Start =============
.breadcrumb {
    --#{$prefix}breadcrumb-padding-x: 0;
    --#{$prefix}breadcrumb-padding-y: 0;
    --#{$prefix}breadcrumb-margin-bottom: 1rem;
    --#{$prefix}breadcrumb-bg: ;
    --#{$prefix}breadcrumb-border-radius: ;
    --#{$prefix}breadcrumb-divider-color: var(--#{$prefix}secondary);
    --#{$prefix}breadcrumb-item-padding-x: 0.5rem;
    --#{$prefix}breadcrumb-item-active-color: var(--#{$prefix}secondary);
    --#{$prefix}breadcrumb-font-size: #{$font-size-sm};

    display: flex;
    flex-wrap: wrap;

    padding: var(--#{$prefix}breadcrumb-padding-y) var(--#{$prefix}breadcrumb-padding-x);
    margin-bottom: var(--#{$prefix}breadcrumb-margin-bottom);
    font-size: var(--#{$prefix}breadcrumb-font-size);
    font-weight: 500;
    list-style: none;
    background-color: var(--#{$prefix}breadcrumb-bg);
    border-radius: var(--#{$prefix}breadcrumb-border-radius);
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: var(--#{$prefix}breadcrumb-item-padding-x);
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: var(--#{$prefix}breadcrumb-item-padding-x);
    color: var(--#{$prefix}breadcrumb-divider-color);
    content: var(--#{$prefix}breadcrumb-divider, "/");
}

// ============= breadcrumb End ============= 
