// Variables
$prefix: "barakaUI-";


// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$gray:       $gray-600 !default;
$gray-dark:  $gray-800 !default;


// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

$gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

// theme-colors
$ui-primary-1:        #00e581;
$ui-primary-2:        #00c684;
$ui-secondary-1:      #e6ebf3;
$ui-heading-color-1:  #002650;

$ui-primary:            $ui-primary-2;
$ui-secondary:          $ui-secondary-1;
$ui-heading-color:      $ui-heading-color-1;

// Typography
//
// Settings for the `*` element.
$font-family-base:          'Rubik', sans-serif !default;
$font-family-heading:       'Rufina', serif !default;
$font-family-sans-serif:    system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:     SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

// the font size of the body text
$font-size-base:              1rem !default; // typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;



// Body
//
// Settings for the `<body>` element.
$body-color:                $gray !default;
$body-bg:                   $white !default;
$body-font-size:            $font-size-base !default;



// default
//
// padding and margin default style values.
$values-sizes: (
  "0": 0,
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "5": 5,
  "10": 10,
  "15": 15,
  "20": 20,
  "25": 25,
  "30": 30,
  "35": 35,
  "40": 40,
  "45": 45,
  "50": 50,
  "55": 55,
  "60": 60,
  "65": 65,
  "70": 70,
  "75": 75,
  "80": 80,
  "85": 85,
  "90": 90,
  "95": 95,
  "100": 100,
  "110": 110,
  "120": 120,
  "130": 130,
  "140": 140,
  "150": 150,
  "200": 200
) !default;
